.logo-container {
  z-index: 0;
  width: 85vh;
  height: 85vh;
  position: absolute;
  top: 0;
  right: 10%;
  bottom: 70%;
  left: auto;
  margin: auto;
  transform-origin: 50% 50%;

  svg {
    width: 100%;
    height: auto;
    bottom: 0;

    transform: rotateZ(15deg) !important;
  }

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    /*   transform: rotateZ(30deg) !important; */
    z-index: 1;
  }
}
